:root {
    --styles-font: font-family: 'Poppins', sans-serif;
    --color-black: #000000;
    --color-gr: #8F95A5;
    --background-btn: #263238;
    --color-white: #FFFFFF;
    --hover-btn: #50545e;
    --nav-color: #0c7ad4;
    --title-cl: #263238;
    --text-cl: #8F95A5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: var(--styles-font);
    color: var(--color-black);
}

.header {
    padding: 55px 0;
}

.section {
    padding: 180px 0;
}

.container {
    width: 1378px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 36px;
    line-height: calc(54 / 36);
    margin-right: 236px;
}

.logo-acent {
    color: #8F95A5;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20);
    padding: 20px 0;
}

.nav-link:hover,
.nav-link:hover {
    color: var(--nav-color);
}

.btn-header {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;

    font-style: normal;
    background-color: transparent;
    padding: 20px 56px;
    border: 2px solid #263238;
    border-radius: 10px;
    min-width: 312px;
    min-height: 70px;
    text-align: center;
    cursor: pointer;
    margin-left: 121px;
}

.btn-header:hover,
.btn-header:hover {
    background-color: var(--background-btn);
    color: var(--color-white);
}

/* hero */
.container-hero {
    display: flex;
}

.hero-left {
    width: 540px;
    margin-right: auto;
}

.title-hero {
    font-weight: 600;
    font-size: 64px;
    line-height: calc(80/ 64);

    margin-bottom: 40px;
}

.hero-desc {
    font-weight: 400;
    font-size: 24px;
    line-height: calc(36 / 24);
    color: var(--color-gr);

    margin-bottom: 60px;
}

.btn {
    font-weight: 400;
    font-size: 36px;
    line-height: calc(54 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    font-style: normal;
    background-color: var(--background-btn);
    color: var(--color-white);
    padding: 23px 64px;
    border-radius: 10px;
    border: none;

    min-width: 426px;
    min-height: 100px;
}

.btn:hover,
.btn:hover {
    background-color: var(--hover-btn);
}

/* skill */


.title {
    font-weight: 600;
    font-size: 48px;
    line-height: calc(72 / 48);
    text-align: center;

    margin-bottom: 60px;
}

.skill-list {
    display: grid;
    gap: 30px;
    grid-template-rows: 2;
    grid-template-columns: repeat(3, 426px);
}

.skil-item {
    padding: 32px 18px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.skil-item:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.skil-item:last-child {
    grid-column-start: 2;
    grid-column-end: 4;
}

.skill-item-title {
    font-weight: 600;
    font-size: 30px;
    line-height: calc(45 / 30);
    padding: 24px 0 20px 0;


    color: var(--title-cl);
}

.skill-desc {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(30 / 20);

    color: var(--text-cl);
    margin-bottom: 30px;
}

.skill-desc-bottom {
    margin-bottom: 24px;
}

.button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(30 / 20);


    color: #FFFFFF;
    border: none;
    background-color: #263238;
    border-radius: 10px;
    min-width: 230px;
    min-height: 60px;
    text-align: center;
    cursor: pointer;
}

/* about */
.section.about {
    padding: 0;
    padding-bottom: 204px;
}



.about-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(36 / 20);


    color: #8F95A5;
    min-width: 652px;
    margin-bottom: 30px;
}



.about-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: calc(72 / 48);


    color: #2A3246;

}

.about-desc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(30 / 20);

    color: #8F95A5;

}



/* price */
.section.price {
    padding: 0;
}

.price-title {
    font-weight: 600;
    font-size: 30px;
    line-height: calc(48 / 30);

    text-transform: capitalize;

    color: #263238;
}